#nav-menu{
    position: fixed;
    top: 0;
    left: 7.5%;
    right: 7.5%;
    display: flex;
    column-gap: 15px;
    background:rgb(77, 76, 76);
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow: hidden;
    height: 50px;
    align-items: center;


}
#nav-menu a{
    text-decoration:  none;
    font-size: 1.2rem;
    flex-flow: column;
    color: white;
    padding: 3px 5px 3px 5px;
}
.nav-link home{
    background-color: rgb(58, 57, 56);

}
