.introduction {
    width: 100%;
    display: flex;
    margin-top: 4em;
    margin-bottom: 4em;
  }
  
  .different {
    color: var(--clr-primary);
  }
  .different-define {
    color: #4caba5;
    font-size: 1.2rem;
    margin: 0px 5% 0 10%;
}
  
  .introduction_logocontainer {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    
  }
  
  .introduction_logocontainer > img {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    transition: 5ms;
    border: 2px solid rgb(106, 104, 104);
   
  }
  /* .introduction_logocontainer > img:hover {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.7;
    transform-box: stroke-box;
    transition: 2ms;
    animation-delay: 5ms;
  } */
  /* styleing image */
  .image-container {
    position: relative;
    width: 50%; /* set width and height of container */
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .home-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* this will auto crop the image to fit the container */
    transition: transform 0.3s ease-out;
  }
  
  .overlay {
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .image-container:hover .image {
    transform: scale(1.1); /* increase image size on hover */
  }
  
  .image-container:hover .overlay {
    opacity: 1; /* show overlay on hover */
  }
  
  
  .introduction_datacontainer {
    flex-basis: 55%;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .introduction_datacontainer > h4:nth-child(1) {
    margin-top: 0;
  }
  
  .introduction_datacontainer > h4:nth-child(2) {
    margin-top: 1.4em;
    line-height: 1.4em;
  }
  
  .introduction_datacontainer > h4 {
    font-size: medium;
    margin-top: 0.5em;
    
  }
  
  .icons {
    position: relative;
    top: 5px;
    color: var(--clr-fg-alt);
    margin-right: 0.5em;
  }
  
  @media (max-width: 600px) {
    .introduction {
      flex-direction: column;
      margin-top: 2em;
    }
    .introduction_logocontainer {
      margin-bottom: 3em;
      flex-basis: 30%;
    }
    .introduction_logocontainer > img {
      width: 60%;
      height: 100%;
      border-radius: 20px;
    }
    .introduction_datacontainer {
      padding-left: 10%;
      padding-right: 10%;
      flex-basis: 70%;
    }
  }
  