.main {
   margin-top: 4em;
 }
 .techsection {
  background-color: var(--clr-bg);
    /* height: 48vh; */
    /* max-height: 69vh; */
    text-align: center;
    width: 100%;
    border-radius: 30px;
    box-shadow: var(--shadow);
    transition: all .5s ease 0s;
 }
 .techsection:hover{
    transform: scale(1.04);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 }
 .skills-card {
  width: fit-content;
  height: 10vh;
}
 
 .techsection > div {
  /* width: 9%;
  height: 10vh; */
  /* max-height: 140px; */
  /* box-shadow: var(--shadow); */
  z-index: 1;
  border-radius: 5px;
  margin: 2.5%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease 0s;
 }
 .techsection > div:hover {
   background-color: var(--clr-bg);
   /* overflow: hidden; */
   transform: scale(1.2);
   box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 36px 0px,
     rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   /* border: 1px solid var(--clr-primary); */
   padding: 2px;
 }
 
 .techsection > div > svg {
   /* height: 50%;
   width: 50%; */
   font-size:100%;
   height: 39px;
   width: 100%;
   
   color: var(--clr-primary);
 }
 .techsection > div > h5 {
   position: relative;
   top: 8px;
 }
 
 @media (max-width: 600px) {
   .techsection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    justify-items: center;
    /* height: 60vh; */
    grid-row-gap: 32px;
   }
   .techsection > div {
    width: fit-content;
    margin-right: 5%;
    margin-bottom: 2%;
    height: 11vh;
   }
 }
 